#panel-member{
	background: url('../img/panel-member-rounded.jpg') top center no-repeat #FFCD39;
}

.tab-wrapper .tab-headers li{
	background: url('../img/top-tab.jpg') top center no-repeat #E9E9E9 !important;
}

.tab-wrapper .tab-headers li.current,
.tab-wrapper .tab-headers li:hover{
	background: url('../img/bg-tab-active.jpg') top center no-repeat #FFF !important;
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
	width: 132px;
}

#header-menu .submenu{
	padding-bottom: 10px;
}

#header-menu .submenu .round-border-bottom{
	position: absolute;
	bottom: 0px;
	left: 0px;
	content: '';
	background: url('../img/bg-bottom-submenu.png') bottom left no-repeat;
	height: 20px;
	margin-bottom: -20px;
	
}

#header-menu .submenu:after{
	position: absolute;
	right: 0px;
	bottom: -20px;
	content: '';
	background: url('../img/bg-bottom-submenu-2.png') bottom right no-repeat;
	width: 20px;
	height: 20px;
}

table tbody tr.alt td{
	background: #F9E4A1;
}