/*
Author: Iskandar Zulkarnain
Alias: pl4y312
*/

/* Medium Device | col-md- */
@media(max-width: 1199px){
	body.disableScroll{
		overflow: hidden;
	}

	#header{
		padding: 50px 10px 20px 10px;
	}

	#header #icon-menu-responsive{
		background: url(../img/icon-40x44-menu-responsive.png) top center no-repeat;
		position: fixed;
		top: 50px;
		right: 10px;
		width: 40px;
		height: 44px;
		cursor: pointer;
	}

	#header #icon-menu-responsive.open{
		background-position: bottom center;
	}
	
	#header .menu > ul{
		position: fixed;
		top: 109px;
		width: 100%;
		background: #f1f2f2;
		padding-bottom: 100px;
		height: 100%;
		overflow-y: scroll;
	}

	#header .menu > ul > li{
		display: block;
		margin: 0 30px;
		border-bottom: 1px solid #d1d3d4;
		position: relative;
	}

	#header .menu > ul > li > a{
		display: block;
		padding: 20px 0;
	}

	#header .menu .arrow-submenu{
		position: absolute;
		right: 0px;
		width: 17px;
		height: 17px;
		background: url('../img/arrow-submenu.png') top center no-repeat;
		top: 20px;
	}

	#header .menu li.open .arrow-submenu{
		background-position: bottom center;
	}

	#header .menu .level-2{
		padding-left: 20px;
	}

	#header .menu .level-2 > li{
		padding-left: 20px;
	}

	#header .menu .level-2 > li > a{
		padding: 20px 0;
		display: block;
	}

	#language{
		right: 30px;
	}

	#featured-menu-wrap{
		overflow-x: scroll;
	}

	#featured-menu{
		width: 940px;
	}

	#footer{
		padding-bottom: 150px;
	}

	#gototop{
		bottom: 80px;
	}

	#sticky-menu{
		bottom: 0;
		left: 0;
		width: 100%;
		top: auto;
		height: 80px;
		padding-top: 0px;
	}

	#sticky-menu ul > li{
		width: 20%;
		float: left;
		border-top: none;
		border-left: 1px solid #fff;
		text-align: center;
	}

	#sticky-menu ul > li:first-child{
		border-left: none;
	}

	#sticky-menu a.menu{
		width: 100%;
		height: 80px;
		display: inline-block;
	}

	#sticky-menu a.menu > div{
		display: none;
	}

	#sticky-menu .content{
		width: 100%;
		left: 0px;
		top: auto;
		right: auto;
		padding-top: 30px;
		padding-bottom: 100px;
		height: 100%;
		overflow-y: scroll;
	}

	#sticky-menu .glyphicon-remove{
		right: 30px;
	}
}

/* Small Device | col-sm- */
@media(max-width: 991px){
	.frontend .wrap{
		width: 750px;
	}

	#search-form{
		float: right;
		width: 100%;
		margin-top: 20px;
	}

	#header #search-form input{
		width: 100%;
		line-height: 60px;
		height: 60px;
		background-size: 32px 30px;
		background-position: right 20px center;
		border:1px solid #e6e6e6;
		font-size: 24px;
	}

	#language{
		right: 50px;
		font-size: 20px;
		top: 10px;
	}

	#container{
		padding-bottom: 30px;
	}

	#newsletter,
	#newsletter .text-center,
	.frontend .list-style-1{
		font-size: 24px;
	}

	.frontend .list-style-1 li{
		margin: 10px 0;
		padding: 10px 0 20px 0;
	}

	.frontend .list-style-1 img{
		margin: 0 50px;
	}

	.frontend .list-style-1 a{
		color: #414042;
	}

	#newsletter input{
		height: 60px;
	}

	#footer{
		text-align: center;
	}

	#copyright{
		font-size: 12px;
	}

	#follow-us{
		font-size: 24px;
	}

	#follow-us a{
		margin: 30px 15px 20px 15px;
	}

	#follow-us img{
		height: 30px;
		width: 36px;
	}

	#footer .menu{
		font-size: 20px;
		margin-bottom: 25px;
	}

}

/* Extra Small Device | col-xs- */
@media(max-width: 767px){
	.frontend .wrap{
		width: 100%;
	}

	#language{
		right: 70px;
	}

	#footer{
		padding-left: 20px;
		padding-right: 20px;
	}
}
