/*
Author: Iskandar Zulkarnain
Alias: pl4y312
*/

/* Fonts */
@font-face{
	font-family: 'Calibri Alt';
	src: url('../fonts/calibri.ttf');
}

@font-face{
	font-family: 'Calibri Alt Bold';
	src: url('../fonts/calibrib.ttf');
}

@font-face{
	font-family: 'Calibri Alt Italic';
	src: url('../fonts/calibrii.ttf');
}

@font-face{
	font-family: 'Calibri Alt Light';
	src: url('../fonts/calibril.ttf');
}

@font-face{
	font-family: 'Calibri Alt Light Italic';
	src: url('../fonts/calibrili.ttf');
}

@font-face{
	font-family: 'Calibri Alt Bold Italic';
	src: url('../fonts/calibriz.ttf');
}

@font-face{
	font-family: 'Futura Medium BT Alt';
	src: url('../fonts/futura-medium-bt.ttf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-Bd';
	src: url('../fonts/helveticaneueltstd-bd.otf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-BdEx';
	src: url('../fonts/helveticaneueltstd-bdex.otf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-LdEx';
	src: url('../fonts/helveticaneueltstd-ltex.otf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-TdEx';
	src: url('../fonts/helveticaneueltstd-thex.otf');
}

/* Medium Device | col-md- */
@media(max-width: 1199px){
	body.disableScroll{
		overflow: hidden;
	}

	#header{
		padding: 15px 10px 10px 10px;
	}

	#header #icon-menu-responsive{
		background: url(../img/icon-40x44-menu-responsive.png) top center no-repeat;
		background-size: 20px 42px;
		position: fixed;
		top: 30px;
		right: 10px;
		width: 20px;
		height: 21px;
		cursor: pointer;
	}

	#header #icon-menu-responsive.open{
		background-position: bottom center;
	}
	
	#header .menu > ul{
		position: fixed;
		top: 109px;
		width: 100%;
		background: #f1f2f2;
		padding-bottom: 100px;
		height: 100%;
		overflow-y: scroll;
	}

	#header .menu > ul > li{
		display: block;
		margin: 0 30px;
		border-bottom: 1px solid #d1d3d4;
		position: relative;
	}

	#header .menu > ul > li > a{
		display: block;
		padding: 20px 0;
	}

	#header .menu .arrow-submenu{
		position: absolute;
		right: 0px;
		width: 17px;
		height: 17px;
		background: url('../img/arrow-submenu.png') top center no-repeat;
		top: 20px;
	}

	#header .menu li.open .arrow-submenu{
		background-position: bottom center;
	}

	#header .menu .level-2{
		padding-left: 20px;
	}

	#header .menu .level-2 > li{
		padding-left: 20px;
	}

	#header .menu .level-2 > li > a{
		padding: 20px 0;
		display: block;
	}

	#language{
		right: 10px;
	}

	#featured-menu-wrap{
		overflow-x: scroll;
	}

	#featured-menu{
		width: 940px;
	}

	#footer{
		padding-bottom: 77px;
	}

	#gototop{
		bottom: 80px;
	}

	#sticky-menu{
		bottom: 0;
		left: 0;
		width: 100%;
		top: auto;
		height: 80px;
		padding-top: 0px;
	}

	#sticky-menu ul > li{
		width: 20%;
		float: left;
		border-top: none;
		border-left: 1px solid #fff;
		text-align: center;
	}

	#sticky-menu ul > li:first-child{
		border-left: none;
	}

	#sticky-menu a.menu{
		width: 100%;
		height: 80px;
		display: inline-block;
	}

	#sticky-menu a.menu > div{
		display: none;
	}

	#sticky-menu .content{
		width: 100%;
		left: 0px;
		top: auto;
		right: auto;
		padding-top: 30px;
		padding-bottom: 100px;
		height: 100%;
		overflow-y: scroll;
	}

	#sticky-menu .glyphicon-remove{
		right: 30px;
	}
}

/* Small Device | col-sm- */
@media(max-width: 991px){
	body.frontend{
		font-size: 20px;
	}

	.frontend .wrap{
		width: 750px;
	}

	#header{
		position: absolute;
	}

	#search-form{
		float: right;
		width: 100%;
		margin-top: 20px;
	}

	#header #search-form input{
		width: 100%;
		line-height: 30px;
		height: 30px;
		background-size: 16px 15px;
		background-position: right 10px center;
		border:1px solid #e6e6e6;
		font-size: 24px;
	}

	#sbdk{
		top: 9px;
		right: 90px;
	}

	#language{
		right: 30px;
		font-size: 12px;
		top: 10px;
	}

	#banner-page{
		height: 270px;
	}

	#banner-page img{
		height: 270px;
		width: auto;
		position: absolute;
		top: -9999px;
		bottom: -9999px;
		left: -9999px;
		right: -9999px;
		margin: auto;
	}

	#banner-page .description{
		padding-left: 10px;
		padding-right: 10px;
		top: auto;
		bottom: 40px;
	}

	#banner-page .description .big{
		font-size: 26px;
		line-height: 26px;
		letter-spacing: 3px;
	}

	#content-wrapper{
		padding-top: 30px;
	}

	#sidebar-wrapper{
		padding: 0 10px;
	}

	#sidebar{
		width: 100%;
		background-color: #666;
		margin-bottom: 10px;
		color: #fff;
		padding: 15px 15px 10px 15px;
		position: relative;
	}

	#sidebar .label{
		font-size: 13px;
		padding: 0px;
	}

	#selected-sidebar{
		font-size: 18px;
		background: url('../img/arrow-bottom-orange.png') center right no-repeat;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#sidebar > ul{
		display: none;
		position: absolute;
		width: 100%;
		background: #fff;
		padding: 10px 20px;
		z-index: 10;
		overflow: hidden;
	}

	#sidebar .active .arrow-submenu{
		background-position: right top !important;
	}

	#sidebar .active > ul{
		display: none;
		width: 100% !important;
	}

	#sidebar hr{
		margin-top: 10px;
		margin-bottom: 5px;
	}

	#container{
		padding-top: 114px;
	}

	#content-page{
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	#suitable-saving thead td,
	#suitable-saving tbody td{
		font-size: 20px;
	}

	#suitable-saving thead td.alt select{
		height: 44px;
	}

	.inner .sharing-social.bottom{
		text-align: center !important;
		margin-bottom: 40px;
		font-size: 14px;
	}

	.sharing-social.bottom .images-screen-width{
		overflow-x: scroll;
		width: 100%;
		margin-top: 25px;
	}

	.sharing-social.bottom .images-wrap{
		width: auto;
		white-space: nowrap;
	}

	.inner .sharing-social img{
		padding: 0 20px;
	}

	#newsletter,
	#newsletter .text-center,
	.frontend .list-style-1{
		font-size: 24px !important;
	}

	.inner #newsletter{
		height: auto;
		font-size: 15px !important;
		font-weight: bold;
		color: #666;
		margin-bottom: 0px;
	}

	.inner #newsletter .wrap{
		line-height: 20px;
		text-align: center;
	}

	.frontend .list-style-1 li{
		margin: 10px 0;
		padding: 10px 0 20px 0;
	}

	.frontend .list-style-1 img{
		margin: 0 50px;
	}

	.frontend .list-style-1 a{
		color: #414042;
	}

	#newsletter input{
		margin-top: 15px !important;
		height: 30px;
		width: 100% !important;
		background: #f1f2f2;
		font-size: 15px !important;
		font-weight: normal;
	}

	#footer{
		text-align: center;
	}

	#footer .wrap{
		padding-bottom: 50px;
	}

	#footer #download-apps{
		font-size: 17px;
	}

	#footer #download-apps .btn-2{
		font-size: 15px;
		line-height: 42px;
	}

	#footer #address{
		font-size: 15px;
	}

	#footer #hello{
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}

	#footer #follow-us{
		font-size: 17px;
	}

	#footer #follow-us a{
		margin: 10px 5px 10px 5px;
	}

	#footer #follow-us img{
		width: 20px;
		height: auto;
	}

	#footer #copyright{
		font-size: 12px;
	}

	#footer #subsidiary-mobile{
		font-size: 17px;
		margin-bottom: 40px;
	}

	#footer #subsidiary-mobile a{
		display: block;
		margin-top: 10px;
	}

	#footer .menu{
		font-size: 12px;
		margin-bottom: 25px;
	}

	#footer #footer-corner-mobile{
		width: 100%;
		height: 50px;
	}

	#footer #footer-corner-mobile img{
		width: 200px;
		position: absolute;
		right: 0px;
	}

}

/* Extra Small Device | col-xs- */
@media(max-width: 767px){
	.frontend .wrap{
		width: 100%;
	}

	#sbdk{
		right: 100px;
	}

	#language{
		right: 40px;
	}

	#footer{
		padding-left: 20px;
		padding-right: 20px;
	}
}
