/*
Author: Iskandar Zulkarnain
Alias: pl4y312
*/

/* General */
body{
	background: #FFF;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

a{
	text-decoration: none;
}

img{
	border: 0px;
}

.clear{
	clear: both;
}

.wrap{
	width: 940px;
	margin: 0 auto;
}

ul,
li{
	margin: 0px;
	padding: 0px;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

/* Header */
#header{
	background: #fff;
	border-top: 5px solid #f7931d;
	padding-top: 50px;
}

#header #logo{
	float: left;
}

#header #logo img{
}

#header #menu{
	font-size: 16px;
	line-height: 51px;
}

#header #menu ul{
	list-style-type: none;
}

#header #menu li{
	float: left;
	margin: 0 14px;
}

#language{
	line-height: 21px;
	font-size: 9px;
	color: #9a9a9a;
	font-weight: bold;
	float: right;
}

#language a{
	color: #9a9a9a;
}

#language .separator{
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid #9a9a9a;
	line-height: 21px;
	height: 21px;
	margin: 0 5px;
}

#language a:hover,
#language .current{
	color: #f15a22;
}

/* Sidebar */
#sidebar{
}

/* Container */
#container{
	background: #f4f4f4;
}

/* Footer */
#footer{
}