/*
Author: Iskandar Zulkarnain
Alias: pl4y312
*/

/* General */
body.frontend{
	background: #FFF;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: Calibri, 'Calibri Alt', Helvetica, sans-serif;
	position: relative;
}

.frontend a{
	text-decoration: none !important;
}

.frontend img{
	border: 0px;
}

.frontend .clear{
	clear: both;
}

.frontend .wrap{
	width: 940px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.frontend .fix-width{
	width: 100%;
}

.frontend ul,
.frontend li{
	margin: 0px;
	padding: 0px;
}

.frontend .clearfix:before,
.frontend .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.frontend .clearfix:after {
  clear: both;
}

.frontend .orange{
	color: #f15a22;
}

.frontend .arrow-bottom{
	padding-right: 25px;
	background: url('../img/arrow-bottom.png') right center no-repeat;
	display: inline-block;
	width: auto;
}

.frontend .arrow-right{
	padding-right: 20px;
	background: url('../img/arrow-right.png') right center no-repeat;
	display: inline-block;
	width: auto;
}

.frontend .more-item{
	font-size: 16px;
	margin-top: 30px;
	cursor: pointer;
}

.frontend input{
	height: 30px;
	border: 0px;
	padding: 0 10px;
	background: #f4f4f4;
	color: #939598;
}

.frontend select{
	height: 30px;
	border: 1px solid #ccc;
	padding: 0 10px;
	background: url('../img/arrow-bottom-green.png') right 10px center no-repeat;
	width: 100%;
	background-color: #fff;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.frontend .img-fit img{
	width: 100%;
}

.frontend .border-top-orange{
	border-top: 10px solid #f7931d;
}

.frontend .bg-grey{
	background-color: #f1f2f2;
}

.frontend .bg-grey .news-featured{
	background-color: #fff;
}

.frontend .bg-grey input,
.frontend .bg-grey select,
.frontend .bg-grey textarea{
	background-color: #fff;
}

.frontend .bg-white{
	background-color: #fff;
}

.frontend .hline{
	border-bottom: 1px solid #e8e7e5;
	width: auto;
	margin: 0 15px 10px 15px;
}

.frontend .btn-1{
	border: 1px solid #939598;
	text-align: center;
	display: block;
	color: #939598;
	padding: 12px 5px;
}

.frontend .btn-2{
	display: inline-block;
	width: 100%;
	border: 1px solid #d1d3d4;
	text-align: center;
	color: #959595;
	font-size: 24px;
	line-height: 60px;
	margin-top: 20px;
	border-width: 2px;
}

.frontend .btn-2.orange{
	color: #f15a22 !important;
	border-color: #f15a22 !important;
}

.frontend .btn-2:hover{
	color: #f15a22;
	border-color: #f15a22;
}

hr.bold{
	border-width: 3px;
	border-color: #ccc;
}

.table-2{
	width: 100%;
}

.table-2 th{
	background: #F47321;
	border: 3px solid #fff !important;
}

.table-2 td{
	background: #FBA927;
	border: 3px solid #fff;
}

ul.list-text-1{
	padding-left: 15px;
	margin-top: 10px;
	list-style-image: url('../img/list-style-image-1.png');
}

ul.list-text-1 li{
	padding-left: 15px;
	margin-bottom: 15px;
}

section{
	padding: 50px 0;
}

@font-face{
	font-family: 'Calibri Alt';
	src: url('../fonts/calibri.ttf');
}

@font-face{
	font-family: 'Calibri Alt Bold';
	src: url('../fonts/calibrib.ttf');
}

@font-face{
	font-family: 'Calibri Alt Italic';
	src: url('../fonts/calibrii.ttf');
}

@font-face{
	font-family: 'Calibri Alt Light';
	src: url('../fonts/calibril.ttf');
}

@font-face{
	font-family: 'Calibri Alt Light Italic';
	src: url('../fonts/calibrili.ttf');
}

@font-face{
	font-family: 'Calibri Alt Bold Italic';
	src: url('../fonts/calibriz.ttf');
}

@font-face{
	font-family: 'Futura Medium BT Alt';
	src: url('../fonts/futura-medium-bt.ttf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-Bd';
	src: url('../fonts/helveticaneueltstd-bd.otf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-BdEx';
	src: url('../fonts/helveticaneueltstd-bdex.otf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-LdEx';
	src: url('../fonts/helveticaneueltstd-ltex.otf');
}

@font-face{
	font-family: 'HelveticaNeueLTStd-TdEx';
	src: url('../fonts/helveticaneueltstd-thex.otf');
}

.form-group .control-label{
	text-align: left !important;
}

.row-condensed{
	margin-left: -5px;
	margin-right: -5px;
}

.row-condensed div[class*="col-"]{
	padding-right: 5px;
	padding-left: 5px;
}

.row-tile div[class*="row-"]{
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
}

.row-tile .row-1{
	height: 125px;
}

.row-tile .row-2{
	height: 260px;
}

.row-tile .row-1 img{
	width: 50%;
	float: left;
}

.row-tile .row-2 img{
	width: 100%;
	height: auto;
}

.row-tile div[class*="row-"] .text{
	color: #fff;
	font-size: 21px;
	line-height: 28px;
	width: 100%;
	height: 100%;
	padding: 20px 30px;
}

.row-tile .text.bg-1{
	background-color: #F47320;
}

.row-tile .text.bg-2{
	background-color: #FDC83A;
}

.row-tile .row-2 .text{
	position: absolute;
	top: 0px;
}

.row-tile .row-2 small{
	font-size: 12px;
	line-height: 16px;
	display: block;
}

.row-tile .row-1.clearfix img{
	width: 50%;
}

.row-tile .row-1.clearfix .text{
	font-size: 15px;
	line-height: 18px;
	padding: 20px 15px;
	width: 50%;
}


/* Header */
#header{
	background: #fff;
	border-top: 5px solid #f7931d;
	padding-top: 50px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 1000;
	width: 100%;
}

#header .wrap{
	overflow: visible !important;
}

#header .wrap > div{
	vertical-align: bottom !important;
	display: inline-block !important;
}

#header #logo{
	/*float: left;*/
}

#header #logo img{
}

#header #search-form{
	position: absolute;
	right: 0;
	top: -30px;
}

#header #search-form input{
	border: 1px solid #e6e6e6;
	height: 24px;
	width: 150px;
	background-image: url('../img/icon-search.png');
	background-position: right 5px center;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: 13px 12px;
}

#header #icon-menu-responsive{
	display: none;
}

#header .menu{
	font-size: 16px;
	/*position: relative;*/
}

#header .menu ul{
	list-style-type: none;
}

#header .menu > ul > li{
	display: inline-block;
}

#header .menu > ul > li > a{
	color: #414042;
	padding: 0 14px 18px 14px;
}

#header .menu > ul > li > a:hover{
	color: #f15a22;
	border-bottom: 4px solid #f7931d;
}

#header .menu .level-2{
	display: none;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: auto;
	background: #fff;
	top: 54px;
	left: 0px;
	border-top: 1px solid #f7931d;
}

#header .menu li:hover .level-2{
	display: block;
}

#header .menu .level-2 > .title{
	padding: 15px 25px;
	font-size: 15px;
	letter-spacing: 0px;
	margin: 0px;
}

#header .menu .level-2 > ul{
	padding-bottom: 20px;
	position: relative;
}

#header .menu .level-2 > ul > li{
	width: 235px;
}

#header .menu .level-2 .arrow-submenu{
	position: absolute;
	left: 208px;
	margin-top: -24px;
	width: 12px;
	height: 12px;
	background-image: url('../img/arrow-submenu.png');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: 12px 24px;
}

#header .menu .level-2 a{
	padding: 7px 0 7px 25px;
	color: #333;
	display: block;
}

#header .menu .level-2 > ul > li.active a,
#header .menu .level-2 > ul > li:hover a,
#header .menu .level-2 > ul > li > a:hover{
	background: #e6e6e6;
}

#header .menu .level-3{
	display: none;
	position: absolute;
	background-color: #e6e6e6;
	left: 235px;
	width: 705px;
	height: 100%;
	top: 0px;
}

#header .menu li:first-child > .level-3,
#header .menu li.active > .level-3,
#header .menu li:hover > .level-3{
	display: block;
}

#header .menu .level-3 ul{
	float: left;
}

#header .menu .level-3 li{
	width: 220px;
}

#header .menu .level-3 img{
	position: absolute;
	right: 25px;
	bottom: 25px;
	width: 200px;
	height: 180px;
}

#sbdk{
	font-size: 16px;
	right: 60px;
	position: absolute;
	top: 12px;
}

#sbdk a{
	color: #666;
}

#language{
	line-height: 21px;
	font-size: 9px;
	color: #9a9a9a;
	font-weight: bold;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

#language a{
	color: #9a9a9a;
}

#language .separator{
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid #9a9a9a;
	line-height: 21px;
	height: 21px;
	margin: 0 5px;
}

#language a:hover,
#language .current{
	color: #f15a22;
}

/* Sidebar */
#sidebar{
	padding-top: 10px;
}

#sidebar ul{
	list-style-type: none;
}

#sidebar li{
	font-size: 14px;
	width: 100%;
	position: relative;
}

#sidebar li > .arrow-submenu{
	position: absolute;
	right: 0px;
	top: 22px;
	width: 12px;
	height: 7px;
	background-image: url('../img/arrow-sidebar-has-submenu.png');
	background-position: left top;
	background-repeat: no-repeat;
}

#sidebar li.active > .arrow-submenu{
	background-position: right bottom;
}

#sidebar a{
	line-height: 50px;
	display: block;
	color: #6d6e71;
	border-bottom: 1px solid #d1d3d4;
}

#sidebar .active > a,
#sidebar a:hover{
	color: #f15a22;
	font-weight: bold;
}

#sidebar ul ul{
	display: none;
	padding-left: 30px;
	border-bottom: 1px solid #d1d3d4;
}

#sidebar ul ul a{
	border-bottom: 0px;
}

#sidebar ul ul ul{
	display: none;
}

#sidebar-right .item{
	margin-bottom: 20px;
}

#sidebar-right .item.border-top{
	border-top: 5px solid #EA3000;
}

#sidebar-right img{
	max-width: 100%;
}

#sidebar-right .item{
	border-bottom: 0px;
}

#sidebar-right .item .title{
	font-size: 20px;
	letter-spacing: 3px;
}

#sidebar-right .item-post{
	padding: 10px 0;
	border-bottom: 1px solid #c1c1c1;
}

#sidebar-right .post-title{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 5px;
	font-weight: bold;
}

#sidebar-right .post-title a{
	color: #58595b;
}

#sidebar-right .post-title a:hover{
	color: #f15a22;
}

#sidebar-right .post-meta{
	font-size: 11px;
}

#sidebar-right .post-category{
	color: #f15a22;
}

#sidebar-right iframe{
	margin: 10px 0;
}

#sidebar-right .video-caption{
	font-weight: bold;
	text-align: center;
}

/* Container */
#container{
	background: #f4f4f4;
	position: relative;
	padding-top: 109px;
}

#container .inner{
	background: #fff;
}

.title{
	font-size: 30px;
	color: #414042;
	letter-spacing: 5px;
	margin-bottom: 30px;
	font-family: 'Futura Md BT', 'Futura Medium BT Alt';
}

#slideshow{
	width: 100%;
	height: 480px;
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
}

#slideshow .item{
	position: absolute;
	overflow: hidden;
}

#slideshow .description{
	color: #fff;
	font-size: 20px;
	position: absolute;
	z-index: 100;
	top: 160px;
	letter-spacing: 5px;
}

#slideshow .description span{
	display: block;
}

#slideshow .description .big{
	font-size: 52px;
	font-family: 'Futura Md BT', 'Futura Medium BT Alt';
}

#slideshow #slideshow-nav{
	position: absolute;
	bottom: 20px;
	left: 50%;
}

#slideshow #slideshow-nav li{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	background: url('../img/icon-slide-nav.png') center top no-repeat;
	margin-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#slideshow #slideshow-nav li.active{
	background-position: center bottom;
}

#slideshow.slideshow-2{
	width: 100%;
	height: 365px;
	position: relative;
	overflow: hidden;
}

#slideshow.slideshow-2 .item{
	position: absolute;
	overflow: hidden;
}

#slideshow.slideshow-2 .wrap{
	height: 365px;
	margin-top: -365px;
}

#slideshow.slideshow-2 .description{
	color: #fff;
	font-size: 15px !important;
	z-index: 100;
	top: 60px;
	right: 0px;
	left: auto !important;
	letter-spacing: 1px !important;
	width: 385px;
}

#slideshow.slideshow-2 .description .big{
	font-size: 32px;
	margin-bottom: 20px;
	font-family: 'Futura Md BT', 'Futura Medium BT Alt';
}

#slideshow.slideshow-2 .description .btn-2{
	color: #fff;
	border: 1px solid #fff;
	font-size: 16px;
	width: auto;
	padding: 10px 30px;
	line-height: 20px;
	margin-top: 30px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#featured-menu-wrap{
	position: relative;
	z-index: 2;
}

#featured-menu{
	margin-bottom: 20px;
	font-size: 16px;
}

#featured-menu .tab-menu{
	width: 157px;
	border-right: 1px solid #f9f9f9;
	float: left;
	height: 123px;
	border-bottom: 5px solid #e1e1e1;
	background: #fff;
	padding: 15px 0;
	text-align: center;
	margin: 0px !important;
	cursor: pointer;
	position: relative;
}

#featured-menu .tab-menu span{
	padding: 15px 6px;
}

#featured-menu .tab-menu:first-child{
	width: 156px;
}

#featured-menu .tab-menu:last-child{
	width: 156px;
	border-right: 0px;
}

#featured-menu img{
	display: block;
	text-align: center;
}

#featured-menu .tab-menu:hover,
#featured-menu .tab-menu.current{
	color: #f15a22;
	border-bottom-color: #f15a22;
}

#featured-menu .tab-menu:hover .submenu{
	display: block;
}

#featured-menu .submenu{
	display: none;
	list-style: none;
	position: absolute;
	width: 100%;
	top: 117px;
}

#featured-menu .submenu a{
	display: block;
	color: #fff;
	line-height: 50px;
	width: 100%;
	background-color: #FEA30A;
	border-top: 1px solid #fff;
}

#featured-menu .submenu a:hover{
	background-color: #f15a22;
	font-weight: normal;
}

.tab-content{
	display: none;

}
.tab-content:first-child{
	display: block !important;

}

#featured-menu-2 .item{
	height: 300px;
	font-size: 15px;
	padding-top: 90px;
}

#featured-menu-2 .item:nth-child(odd){
	background-color: #f4f4f4;
}

#featured-menu-2 .item:nth-child(even){
	background-color: #e8e8e8;
}

#featured-menu-2 .title{
	padding: 30px 30px 0;
	font-size: 15px;
	letter-spacing: 1px;
	white-space: normal;
}

#newsletter{
	background: #fff;
	padding: 20px 10px;
	margin-bottom: 20px;
}

#newsletter .text-center{
	font-size: 16px;
	margin-bottom: 15px;
}

#newsletter input[type="text"]{
	float: left;
	width: 75%;
}

#newsletter input[type="submit"]{
	float: right;
	width: 25%;
	background: #414042;
	color: #fff;
}

.list-style-1{
	background: #fff;
	padding: 16px 10px;
}

.list-style-1 ul{
	list-style-type: none;
}

.list-style-1 li{
	border-bottom: 1px solid #a1a1a1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.list-style-1 li:last-child{
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.list-style-1 img{
	margin: 0 10px;
}

.list-style-2 ul{
	list-style-type: none;	
}

.list-style-2 li{
	border-bottom: 1px solid #c1c1c1;
}

.list-style-2 .marker{
	width: 48px;
	font-size: 48px;
	font-weight: bold;
	float: left;
	line-height: 60px;
	margin-right: 20px;
	padding-top: 10px;
}

.list-style-2 .description{
	float: left;
	width: 370px;
	padding: 10px 0;
}

.list-style-2 .title{
	font-size: 16px;
	letter-spacing: 0px;
	margin-bottom: 0px;
}

.list-style-2 .title.big{
	font-size: 25px;
}

.list-style-2 .title a{
	color: #58595b;
}

.list-style-2 .title a:hover{
	color: #f15a22;
}

.list-style-2 .date{
	font-size: 12px;
}

#featured-item{
	margin-bottom: 30px;
}

.btn-simulasi{
	color: #f15a22 !important;
	border-color: #f15a22 !important;
	border-width: 2px !important;
	background: #fff;
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 80px !important;
}

#kpr{
	background: #fff;
	padding: 25px;
	border-bottom: 20px solid #f7931d;
	margin-bottom: 40px;
	margin-top: 30px;
	line-height: 30px;
	position: relative;
}

#kpr #simulation-select div{
	position: relative;
}

#kpr #simulation-select select{
	position: absolute;
}

#kpr #simulation-content .row{
	display: none;
}

#kpr input[type="submit"]{
	width: 100%;
	background: none;
	border: 1px solid #f15a22;
	color: #f15a22;
	margin-top: 40px;
	margin-bottom: 20px;
}

#kpr .separator{
	border-bottom: 1px solid #e8e7e5;
	width: auto;
	margin: 0 15px 10px 15px;
}

#news-section{
	padding: 30px 0;
	background: #e6e7e8;
}

#news-section select{
	background-color: #fff;
	width: 100%;
}

#news-section .separator{
	margin-top: 30px;
}

.news-item{
	background: #e7e7e9;
}

.news-item img{
	width: 100%;
	height: auto;
	margin-bottom: 0px !important;
}

.news-item .news-title{
	font-size: 16px;
	margin: 15px;
	color: #231f20;
}

.news-item .news-link{
	padding-right: 25px;
	display: inline-block;
	background: url('../img/arrow-next.png') right center no-repeat;
	cursor: pointer;
	margin-left: 15px;
	margin-bottom: 15px;
}

#news-section .link-page-news{
	display: none;
}

#banner-page,
.banner-wide{
	height: 250px;
	position: relative;
	overflow: hidden;
}

#banner-page img,
.banner-wide img{
	width: 100%;
}

#banner-page .description,
.banner-wide .description{
	position: absolute;
	width: 100%;
	top: 60px;
	color: #fff;
}

#banner-page .description span,
.banner-wide .description span{
	display: block;
	font-size: 15px;
	max-width: 420px;
}

#banner-page .description .big,
.banner-wide .description .big{
	font-size: 36px;
	line-height: 36px;
	margin-bottom: 10px;
	letter-spacing: 5px;
	font-family: 'Futura Md BT', 'Futura Medium BT Alt';
}

#banner-page .description .btn,
.banner-wide .description .btn{
	border: 1px solid #fff;
	padding: 10px 40px;
	border-radius: 0px 0px 0px 0px;
	color: #fff;
}

#banner-page .description .btn:hover,
.banner-wide .description .btn:hover{
	color: #f15a22;
	border-color: #f15a22;
}

.banner-wide{
	margin-top: 5px;
}

.banner-wide .btn{
	margin-top: 30px;
}

#breadcrumb{
	background: #f4f4f4;
	line-height: 45px;
	color: #414042;
	font-size: 10px;
	font-weight: bold;
}

#breadcrumb ul{
	list-style-type: none;
}

#breadcrumb li{
	float: left;
	margin-right: 5px;
}

#breadcrumb li:before{
	content: '>';
	margin-right: 5px;
}

#breadcrumb li:first-child:before{
	content: '';
}

#breadcrumb a{
	color: #414042;
}

#breadcrumb a:hover{
	color: #f15a22;
}

#content-page{
	padding: 20px 0 40px;
	font-size: 12px;
	color: #414042;
}

#content-page p{
	line-height: 20px;
}

#content-page img{
	margin-bottom: 20px;
	max-width: 100%;
}

#content-page .title{
	font-size: 20px;
	letter-spacing: 0px;
}

#content-page .title.big{
	font-size: 35px;
}

#content-page .title.medium{
	font-size: 25px;
}

#content-page iframe{
	margin-bottom: 20px;
}

#content-page ul{
	padding-left: 15px;
}

#content-page li{
	padding-left: 15px;
	margin-bottom: 15px;
}

#content-page .list-style-2 .title.big{
	font-size: 25px;
}

#content-page .list-style-2 ul{
	padding-left: 0px;
}

#content-page .list-style-2 li{
	padding-left: 0px;
	margin-bottom: 0px;
}

#content-page .list-style-2 .marker{
	font-size: 40px;
	line-height: 40px;
}

#content-page .list-style-2 li .title{
	font-size: 15px;
	margin-bottom: 0px;
}

#content-page .list-style-2 .description{
	width: 220px;
}

#content-page .list-style-2 .date{
	font-size: 11px;
	margin-top: 5px;
}

#container .news-link.arrow{
	background: url('../img/arrow-next.png') right center no-repeat;
	padding-right: 25px;
	display: inline-block;
}

#container .news-link.arrow-invert{
	background-image: url('../img/arrow-next-invert.png');
}

#container .news-link.arrow-green{
	background-image: url('../img/arrow-next-green.png');
}

#container .news-link.arrow-bottom-green{
	background-image: url('../img/arrow-bottom-green.png');
}

.list-style-3{
	margin-top: 30px;
}

.list-style-3 li{
	list-style: none;
	border-bottom: 2px solid #d2d2d2;
	padding: 20px 0;
}

.list-style-3 .thumbnail{
	padding: 0px;
	border: 0px;
	width: 112px;
}

.list-style-3 .description{
	width: 320px;
}

.list-style-3 .title{
	font-size: 15px;
	letter-spacing: 0px;
	margin-bottom: 5px;
}

.list-style-3 .date{
	font-size: 11px;
}

.inner #newsletter{
	background: #e7e7e9;
	color: #333;
	height: 164px;
	line-height: 124px;
	font-size: 15px;
}

.inner #newsletter input{
	margin-top: 45px;
}

.inner #newsletter input[type="text"]{
	background-color: #fff;
	width: 367px;
}

.inner #newsletter input[type="submit"]{
	line-height: 16px;
	font-size: 12px;
	background: #999;
	width: 82px;
}

#suitable-saving{
	padding-top: 30px;
	margin-bottom: 30px;
}

#suitable-saving .title{
	font-size: 24px;
}

#suitable-saving thead td{
	background-color: #f4f4f4;
	height: 24px;
	font-size: 16px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 40px;
}

#suitable-saving thead td.alt{
	padding: 0 3px;
	background-color: #fff;
}

#suitable-saving thead td:nth-child(3){
	padding: 0px;
}

#suitable-saving thead td select{
	height: 40px;
	background: #f4f4f4;
	border: none;
	background-image: url('../img/arrow-bottom-full.png');
	background-repeat: no-repeat;
	background-position: right 15px center;
}

#suitable-saving tbody td{
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
}

#suitable-saving tbody tr:first-child td{
	padding-top: 28px;
}

#suitable-saving tbody td.alt{
	background-color: #f8f8f8;
}

#suitable-saving tbody tr:last-child td{
	border-bottom: 1px solid #f15a22;
}

#suitable-saving .btn-1{
	font-size: 18px;
	font-weight: bold;
	padding: 0px;
	height: 40px;
	line-height: 36px;
	color: #f7931d;
	border-color: #f7931d;
}

#suitable-saving .btn-1.alt{
	background-color: #f7931d;
	color: #fff;
}

#suitable-saving .btn-1 .glyphicon{
	width: 40px;
	height: 40px;
	line-height: 36px;
	background-color: #f15a22;
	display: block;
	font-size: 12px;
	margin-top: -2px;
}

.inner .sharing-social{
	margin-bottom: 30px;
}

.inner .sharing-social.top{
	margin-bottom: 0px;
	margin-top: 20px;
}

.inner .sharing-social a{
	margin: 0 5px;
}

.inner .sharing-social img{
	margin-bottom: 0px !important;
}

#solusi{
	padding: 50px 0;
}

#solusi .item{
	width: 158px;
	height: 150px;
	padding: 10px;
	float: left;
	margin: 15px;
}

#solusi .icon{
	height: 80px;
	width: 100%;
	text-align: center;
}

#solusi .text{
	height: 40px;
	width: 100%;
	font-size: 16px;
	text-align: center;
}

#solusi .item:hover{
	background: #e7e7e9;
}

#solusi .item:hover .text{
	color: #ff6a08;
}

#inspirasi{
	padding-top: 50px;
}

.inspirasi-item{
	width: 25%;
	height: 470px;
	float: left;
	position: relative;
}

.inspirasi-item .avatar{
	text-align: center;
	position: relative;
	overflow: hidden;
	height: 470px;
}

.inspirasi-item .avatar img{
	width: auto;
	position: absolute;
	left: -9999px;
	right: -9999px;
	margin: auto;
}

.inspirasi-item .description{
	position: absolute;
	bottom: 0px;
	background: url('../img/bg-inspirasi-description.png');
	width: 100%;
	color: #fff;
	padding: 20px 10px;
	font-size: 15px;
}

.inspirasi-item .name{
	font-size: 20px;
}

.inspirasi-item .news-link{
	color: #FFF;
	font-size: 13px;
	background: url('../img/arrow-next-invert.png') right center no-repeat;
	padding-right: 25px;
	display: inline-block;
	margin-top: 10px;
}

.inspirasi-item .news-link:hover{
	color: #ff6a08;
}

.carousel .inspirasi-item{
	width: 100%;
}

#kemudahan{
	padding: 50px 0;
}

#kemudahan .thumb img{
	width: 100%;
}

#kemudahan .content{
	padding-top: 10px;
	font-size: 15px;
	line-height: 24px;
	display: block;
	background-color: #FFF !important;
	padding: 10px 0px;
}

#kemudahan .news-link{
	display: inline-block;
	margin-top: 10px;
	background: url('../img/arrow-next.png') right center no-repeat;
	padding-right: 25px;
}

#testimonial{
	background: #f3f3f3;
	padding: 50px 0;
}

.testimoni .content{
	background: #fff;
	padding: 30px 20px 40px;
	font-size: 18px;
}

.testimoni .author{
	background: #ccc;
	padding: 20px;
}

.testimoni .avatar{
	margin-top: -40px;
}

.testimoni .name{
	width: 150px;
	font-size: 13px;
	padding-left: 20px;
}

.testimoni .name strong{
	font-size: 15px;
}

#similar-content{
	background: #fff;
	padding: 35px 0;
}

#similar-content .news-featured{
	width: 422px;
}

#similar-content .news-item .title{
	font-size: 24px;
}

.panel-1{
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.panel-1 select{
	margin-top: 10px;
}

.panel-1 input{
	margin-top: 10px;
	width: 100%;
}

.panel-1 input[type="submit"]{
	border: 1px solid #f15a22;
	color: #f15a22;
	margin-top: 20px;
	margin-bottom: 20px;
	background: none;
	font-size: 16px;
	padding: 10px 0;
	height: auto;
}

.panel-1 .title{
	text-align: center;
	font-size: 30px !important;
	color: #838287;
}

.panel-1 .col-md-6{
	margin-bottom: 20px;
}

.invitation{
	text-align: center;
	font-size: 18px;
	padding-top: 20px;
	padding-bottom: 30px;
}

.invitation .btn-2{
	width: auto;
	padding: 12px 30px;
	font-size: 15px;
	color: #333 !important;
	border-color: #333 !important;
	line-height: 18px;
	border-width: 1px;
}

.invitation .btn-2:hover{
	color: #f15a22 !important;
	border-color: #f15a22 !important;
}

.invitation.orange{
	background: #F35923;
	color: #fff !important;
}

.invitation.orange .btn-2{
	color: #fff !important;
	border-color: #fff !important;
}

.invitation .big{
	font-size: 25px;
}

.invitation.orange .btn-2.big{
	font-size: 20px;
}

#offer-form{
	margin-bottom: 20px;
}

#offer-form .text{
	font-size: 28px;
	color: #666;
	margin: 10px 0 30px;
	font-family: 'Futura Md BT', 'Futura Medium BT Alt';
}

#offer-form input,
#offer-form select{
	width: 100%;
	background: none;
	border: 1px solid #999;
}

#offer-form input[type="submit"]{
	background: #999;
	border: 1px solid #999;
	color: #fff;
}

#offering-list .news-item{
	margin-bottom: 20px;
}

#full-form{
	margin-top: 40px;
	margin-bottom: 20px;
}

#full-form .form-header{
	background: #e7e7e9;
	padding: 30px 100px;
}

#full-form .form-body{
	background: #f4f4f4;
	padding: 20px 100px 50px;
	position: relative;
}

#full-form input,
#full-form textarea,
#full-form select{
	background-color: #fff !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#full-form input[type="checkbox"],
#full-form input[type="radio"]{
	height: inherit;
}

#full-form select[multiple]{
	height: auto;
	background-image: none;
}

#full-form label,
#full-form .form-control-static{
	line-height: 20px;
}

#full-form .form-header .title{
	margin-bottom: 0px !important;
}

#full-form .form-header .subtitle{
	margin-top: 20px;
}

#full-form .btn{
	display: block;
	border: 1px solid #c0c0c1;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	line-height: 30px;
	text-align: center;
	color: #8D8D8D;
}

#full-form .btn .icon{
	margin-bottom: -2px;
}

#full-form .btn.prev-link .icon{
	display: inline-block;
	content: '';
	width: 7px;
	height: 13px;
	background-image: url('../img/arrow-prev-next-form.png');
	background-position: left top;
	background-repeat: no-repeat;
	margin-right: 10px;
}

#full-form .btn.next-link .icon{
	display: inline-block;
	content: '';
	width: 7px;
	height: 13px;
	background-image: url('../img/arrow-prev-next-form.png');
	background-position: right top;
	background-repeat: no-repeat;
	margin-left: 10px;
}

#full-form .btn:hover{
	color: #f60;
	border: 1px solid #f60;
}

#full-form .btn.prev-link:hover .icon{
	background-position: left bottom;
}

#full-form .btn.next-link:hover .icon{
	background-position: right bottom;
}

.form-carousel form{
	width: 100%;
	overflow: hidden;
}

.form-carousel .content-carousel{
	float: left;
}

#job-vacancies{
	background-color: #f3f3f3;
	padding: 50px 0;
}

#job-vacancies .title{
	color: #666 !important;
	margin-bottom: 50px;
}

#job-vacancies form{
	margin-bottom: 40px;
}

#job-vacancies input{
	width: 100%;
}

#job-vacancies input[type="text"]{
	border: 1px solid #ccc;
	background-color: #fff;
}

#job-vacancies input[type="submit"]{
	background-color: #999;
	color: #fff;
}

.accordion .item{
	margin-bottom: 10px;
}

.accordion .item-title{
	background-color: #e7e7e9;
	padding: 20px 30px;
	cursor: pointer;
	position: relative;
}

.accordion .item-title.big{
	font-size: 25px;
	padding: 10px 30px;
}

.accordion .arrow{
	position: absolute;
	right: 30px;
	top: 25px;
	background: url('../img/arrow-accordion.png') center bottom no-repeat;
	width: 12px;
	height: 7px;
}

.accordion .active .arrow{
	background-position: center top;
}

.accordion .item-content{
	background-color: #f4f4f4;
	padding: 20px 30px;
	display: none;
}

#job-vacancies .item-content{
	background-color: #fff;
}

.accordion .news-link{
	background: url('../img/arrow-next.png') right center no-repeat;
	padding-right: 25px;
	margin-top: 10px;
	display: inline-block;
}

.accordion.orange .item-title{
	background-color: #F47321;
	color: #fff;
}

.accordion.orange .arrow{
	background-image: url('../img/arrow-accordion-white.png');
}

.accordion.orange .item-content{
	background-color: #f4f4f4;
	color: #000;
}

.filter-form{
	display: block;
	margin-bottom: 20px;
	width: 100%;
	height: auto;
}

.filter-form input,
.filter-form select{
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
}

.filter-form input[type="submit"]{
	background-color: #999;
	color: #fff;
}

.list-profile .profile{
	font-family: 'Futura Md BT', 'Futura Medium BT Alt' !important;
	background: #e7e7e9;
	margin-bottom: 50px;
	padding-bottom: 10px;
}

.list-profile .thumbnail{
	border: none;
	background: none;
	padding: 0px;
	margin-bottom: 20px;
}

.list-profile .name{
	font-size: 22px;
	padding: 0 15px;
	margin-top: 20px;
}

.list-profile .title{
	letter-spacing: 0px;
	font-size: 17px;
	padding: 0 15px;
	margin-top: 5px;
	margin-bottom: 20px;
}

.list-profile .teaser{
	font-size: 13px;
	font-family: "Myriad Pro";
	padding: 0 15px;
	margin-bottom: 20px;
}

.list-profile .more-link{
	font-size: 13px;
	padding-right: 25px;
	display: inline-block;
	background: url('../img/arrow-next.png') right center no-repeat;
	cursor: pointer;
	margin-left: 15px;
	margin-bottom: 15px;
}

.list-profile .pagination{
	margin-top: 20px;
}

.profile-page .profile{
	position: relative;
	height: 225px;
}

.profile-page .thumbnail{
	width: 225px;
	height: 225px;
	overflow: hidden;
	border: 0px;
	padding: 0px;
	border-radius: 0px;
}

.profile-page .thumbnail img{
	max-width: 100%;
}

.profile-page .description{
	width: 450px;
	bottom: 20px;
	right: 0px;
	position: absolute;
}

.profile-page .name{
	font-size: 22px;
}

.profile-page .title{
	font-size: 17px;
	margin-bottom: 10px;
}

.pagination{
	display: block;
	padding: 20px 0;
}

.pagination a{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: #ccc;
	line-height: 30px;
	border: 1px solid #ccc;
	color: #fff;
}

.pagination a.previous,
.pagination a.next{
	background-color: #fff;
	background-image: url('../img/arrow-pagination.png');
	background-position: left center;
	background-repeat: no-repeat;
}

.pagination a.next{
	background-position: right center;
}

.pagination a.current,
.pagination a:hover{
	background-color: #49BE9B;
}

.pagination .text{
	margin-bottom: 10px;
}

.carousel img{
	margin-bottom: 0px !important;
}

.carousel:hover .carousel-control{
	opacity: 1;
}

.carousel .carousel-control .glyphicon{
	margin-top: -20px;
	width: 26px;
	height: 48px;
	background-image: url('../img/arrow-carousel.png');
	background-position: center left;
	background-repeat: no-repeat;
}

.carousel .carousel-control .next{
	background-position: center right;
}

.carousel .carousel-control .glyphicon:before{
	content: '';
}

#carousel-captions .carousel-caption{
	position: relative;
	text-align: center;
	text-shadow: none;
	color: #333;
	font-size: 14px;
	left: 0px;
	padding: 30px;
}

#carousel-captions .carousel-caption:not(#caption-0){
	display: none;
}

.step-carousel{
	list-style: none;
	text-align: center;
	margin-bottom: 50px !important;
	display: block;
}

.step-carousel li{
	display: inline-block;
	text-align: center;
	width: 120px;
	position: relative;
	vertical-align: top;
}

.step-carousel li .number{
	font-size: 20px;
	color: #fff;
	font-weight: bold;
	background-color: #c3c3c3;
	width: 46px;
	height: 46px;
	line-height: 46px;
	margin: 0 auto;
	margin-bottom: 20px;
	z-index: 2;
	position: relative;
}

.step-carousel li.current .number{
	background-color: #f60;
}

.step-carousel li .title{
	color: #666;
	font-size: 12px !important;
	letter-spacing: 1px;
	margin-bottom: 0px;
	height: 40px;
}

.step-carousel li:before{
	content: '';
	display: block;
	height: 4px;
	width: 80px;
	background-color: #c3c3c3;
	position: absolute;
	margin-top: 21px;
	margin-left: 82px;
}

.step-carousel li.next:before{
	background-color: #999;	
}

.step-carousel li.current:before{
	background-color: #f60;	
}

.step-carousel li:last-child:before{
	display: none !important;
}

#annual-report .item{
	margin-bottom: 40px;
	font-size: 15px;
	color: #333;
	cursor: pointer;
}

#annual-report img{
	width: 100%;
	margin-bottom: 10px;
}

.content-meta{
	margin-bottom: 30px;
}

.content-meta .title{
	line-height: 40px;
	margin-bottom: 10px;
	font-family: 'HelveticaNeueLTStd-Bd';
}

.list-video .item{
	margin-bottom: 20px;
}

.list-video .item img,
.list-video .item iframe{
	width: 100%;
}

.list-video .item .text-center{
	font-size: 15px;
	padding: 15px;
}

.contact-page .title{
	color: #666;
}

.contact-page .item{
	margin-bottom: 30px;
}

.contact-address{
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

.contact-address > .pull-left{
	padding-top: 20px;
}

.contact-address .clearfix{
	margin-bottom: 20px;
}

.contact-address .icon{
	width: 95px;
	text-align: center;
}

.contact-address .address{
	width: 230px;
}

.contact-address .map{
	width: 610px;
	height: 260px;
	border: 0px;
}

.contact-form{
	padding: 50px 0;
}

.contact-form .title{
	margin-bottom: 30px;
}

.contact-form input,
.contact-form select,
.contact-form textarea{
	background: #fff;
	border: 1px solid #ccc;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.contact-form select{
	background-image: url('../img/arrow-select.png');
	background-repeat: no-repeat;
	background-position: center right 15px;
}

.contact-form input[type="submit"]{
	width: 100%;
	background: #fff;
	border: 1px solid #999;
	font-size: 15px;
	line-height: 15px;
	padding: 15px 0;
	height: auto;
}

.contact-page-2 input[type="submit"]{
	width: 100%;
	color: #fff;
	background-color: #f15a22;
}

.simulation-result .title{
	margin-bottom: 0px;
}

.simulation-result .subtitle{
	font-size: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.simulation-result .label{
	color: #666;
	font-size: 15px;
	text-align: right;
	white-space: normal;
	font-weight: normal;
	vertical-align: bottom;
}

.simulation-result .value{
	color: #666;
	font-size: 15px;
	white-space: normal;
	vertical-align: bottom;
}

.simulation-result .btn-2{
	font-size: 16px;
	padding: 10px 0;
	line-height: 24px;
	border-width: 1px;
}

.accordion.annual-report .annual-report-image{
	float: left;
	width: 30%;
}

.accordion.annual-report .annual-report-description{
	float: left;
	width: 70%;
	padding-left: 20px;
}

.search-result #content-wrapper{
	padding: 20px 0;
}

.search-result #content-page{
	padding-top: 0px;
}

.search-result .search-form{
	margin-bottom: 10px;
}

.search-result .search-form .input-area{
	padding: 15px;
	background-color: #F7C101;
	margin-bottom: 30px;
}

.search-result .search-form .col-md-2{
	line-height: 30px;
}

.search-result .search-form .input-area input[type="text"]{
	width: 548px;
	background-color: #fff;
	float: left;
}

.search-result .search-form .input-area input[type="submit"]{
	display: block ;
	width: 30px;
	float: right;
	background-image: url('../img/icon-search.png');
	background-size: 18px 16px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #EA3000;
}

.search-result .item{
	padding: 20px 0;
	border-bottom: 1px solid #c1c1c1;
}

.search-result .title{
	font-size: 18px !important;
	line-height: 20px;
	margin-bottom: 5px;
}

.search-result .title a{
	color: #58595b;
}

.search-result .title a:hover{
	color: #f15a22;
}

.search-result .url{
	font-size: 10px;
}

.search-result .teaser{
	font-size: 12px;
	margin-bottom: 5px;
}


/* Footer */
#footer{
	padding-top: 50px;
	color: #6d6e71;
	position: relative;
}

#address{
	margin-bottom: 40px;
	line-height: 28px;
}

#address strong{
	font-size: 17px;
}

#download-apps{
	font-size: 24px;
	margin-bottom: 50px;
}

#hello{
	width: 150px;
	margin-right: 100px;
}

#hello img{
	width: 150px;
}

#follow-us{
	margin-bottom: 40px;
}

#follow-us strong{
	display: block;
	color: #6d6e71;
	margin-bottom: 10px;
}

#follow-us a{
	display: inline-block;
	margin-right: 15px;
}

#follow-us img{
	width: 15px;
	height: 13px;
}

#footer .menu li{
	display: inline-block;
	border-left: 1px solid #6d6e71;
	margin-right: 5px;
	padding-left: 7px;
	line-height: 12px;
}

#footer .menu li:first-child{
	border-left: none;
	padding-left: 0px;
}

#footer .menu a{
	color: #6d6e71;
}

#footer .menu a:hover{
	color: #f15a22;
}

#footer .menu{
	margin-bottom: 10px;
}

#subsidiary{
	/*margin-top: 25px;*/
	margin-bottom: 115px;
}

#subsidiary div{
	margin-bottom: 12px;
	font-size: 14px;
}

#subsidiary a{
	display: inline-block;
	margin-left: 10px;
}

#gototop{
	position: fixed;
	display: none;
	bottom: 50px;
	width: 61px;
	height: 60px;
	background: url('../img/gototop.png') center center no-repeat;
	cursor: pointer;
	-webkit-transition: width 2s; /* Safari */
	transition: width 2s;
}

#sticky-menu{
	background: #f4f4f4;
	position: fixed;
	width: 80px;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 998;
	padding-top: 109px;
}

#sticky-menu > ul{
	list-style-type: none;
}

#sticky-menu > ul > li{
	display: block;
	border-top: 1px solid #fff;
}

#sticky-menu > ul > li > img{
	vertical-align: middle;
}

#sticky-menu > ul > li:first-child{
	border-top: none;
}

#sticky-menu a.menu{
	text-align: center;
	padding: 20px 5px 0 5px;
	height: 95px;
	display: block;
	color: #58595b;
	font-size: 8px;
	cursor: pointer;
	width: 100%;
	background-color: #f4f4f4;
}

#sticky-menu a.menu:hover,
#sticky-menu a.menu.current{
	background: #f7931d;
	color: #fff;
}

#sticky-menu .content{
	z-index: -1;
	width: 320px;
	background: #f7931d;
	color: #fff;
	position: absolute;
	/*right: 70px;*/
	right: -320px;
	height: 100%;
	top: 0;
	padding: 150px 20px 0 20px;
}

#sticky-menu .content .title{
	margin-bottom: 15px;
	color: #fff;
}

#sticky-menu .glyphicon-remove{
	color: #fff;
	font-size: 20px;
	position: absolute;
	right: -300px;
	top: 120px;
	z-index: 999;
	cursor: pointer;
}

#sticky-menu.open .glyphicon-remove{
	right: 90px;
}
