/*
Author: Iskandar Zulkarnain
Alias: pl4y312
*/

/* General */
body.frontend{
	background: #FFF;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
}

.frontend a{
	text-decoration: none !important;
}

.frontend img{
	border: 0px;
}

.frontend .clear{
	clear: both;
}

.frontend .wrap{
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.frontend .fix-width{
	width: 100%;
}

.frontend ul,
.frontend li{
	margin: 0px;
	padding: 0px;
}

.frontend .clearfix:before,
.frontend .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.frontend .clearfix:after {
  clear: both;
}

.frontend .orange{
	color: #f15a22;
}

.frontend .arrow-bottom{
	padding-right: 25px;
	background: url('../img/arrow-bottom.png') right center no-repeat;
	display: inline-block;
	width: auto;
}

.frontend .more-item{
	font-size: 16px;
	margin-top: 30px;
	cursor: pointer;
}

.frontend input{
	height: 30px;
	border: 0px;
	padding: 0 10px;
	background: #f4f4f4;
	color: #939598;
}

.frontend select{
	height: 30px;
	border: 0px;
	padding: 0 10px;
	background: url('../img/arrow-bottom-full.png') right 10px center no-repeat;
	width: 100%;
	background-color: #f4f4f4;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.frontend .img-fit img{
	width: 100%;
}

/* Header */
#header{
	background: #fff;
	border-top: 5px solid #f7931d;
	padding-top: 50px;
	margin-bottom: 20px;
}

#header .wrap > div{
	vertical-align: bottom !important;
	display: inline-block !important;
}

#header #logo{
	/*float: left;*/
}

#header #logo img{
}

#header .menu{
	font-size: 16px;
}

#header .menu ul{
	list-style-type: none;
}

#header .menu > ul > li{
	display: inline-block;
	margin: 0 14px;
}

#header .menu > ul > li > a{
	color: #414042;
}

#header .menu > ul > li > a:hover{
	color: #f15a22;
}

#language{
	line-height: 21px;
	font-size: 9px;
	color: #9a9a9a;
	font-weight: bold;
	right: 0px;
	bottom: 0px;
	position: absolute;
}

#language a{
	color: #9a9a9a;
}

#language .separator{
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid #9a9a9a;
	line-height: 21px;
	height: 21px;
	margin: 0 5px;
}

#language a:hover,
#language .current{
	color: #f15a22;
}

/* Sidebar */
#sidebar{
}

/* Container */
#container{
	background: #f4f4f4;
}

.title{
	font-size: 30px;
	color: #414042;
	letter-spacing: 5px;
	margin-bottom: 30px;
}

#slideshow{
	width: 100%;
	height: 480px;
	position: relative;
	margin-bottom: 20px;
}

#slideshow .item{
	position: absolute;
}

#slideshow #slideshow-nav{
	position: absolute;
	bottom: 20px;
	left: 50%;
}

#slideshow #slideshow-nav li{
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	background: url('../img/icon-slide-nav.png') center top no-repeat;
	margin-left: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	cursor: pointer;
}

#slideshow #slideshow-nav li.active{
	background-position: center bottom;
}


#featured-menu{
	margin-bottom: 20px;
	font-size: 16px;
}

#featured-menu .tab-menu{
	width: 157px;
	border-right: 1px solid #f9f9f9;
	float: left;
	height: 123px;
	border-bottom: 5px solid #e1e1e1;
	background: #fff;
	padding: 15px 6px;
	text-align: center;
	margin: 0px !important;
	cursor: pointer;
}

#featured-menu .tab-menu:first-child{
	width: 156px;
}

#featured-menu .tab-menu:last-child{
	width: 156px;
	border-right: 0px;
}

#featured-menu img{
	display: block;
	text-align: center;
}

#featured-menu .tab-menu:hover,
#featured-menu .tab-menu.current{
	color: #f15a22;
	font-weight: bold;
	border-bottom-color: #f15a22;
}

.tab-content{
	display: none;
}

#newsletter{
	background: #fff;
	padding: 20px 10px;
	margin-bottom: 20px;
}

#newsletter .text-center{
	font-size: 16px;
	margin-bottom: 15px;
}

#newsletter input[type="text"]{
	float: left;
	width: 75%;
}

#newsletter input[type="submit"]{
	float: right;
	width: 25%;
	background: #414042;
	color: #fff;
}

.list-style-1{
	background: #fff;
	padding: 16px 10px;
}

.list-style-1 ul{
	list-style-type: none;
}

.list-style-1 li{
	border-bottom: 1px solid #a1a1a1;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.list-style-1 li:last-child{
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.list-style-1 .iz-icon{
	width: 44px;
	height: 42px;
	display: inline-block;
	background-position: center center;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 10px;
	vertical-align: middle;
}

.iz-icon-phone{
	background-image: url('../img/icon-phone.png');
}

.iz-icon-notebook{
	background-image: url('../img/icon-notebook.png');
}

.iz-icon-whistle{
	background-image: url('../img/icon-whistle.png');
}

#featured-item{
	margin-bottom: 30px;
}

#kpr{
	background: #fff;
	padding: 25px;
	border-bottom: 20px solid #f7931d;
	margin-bottom: 40px;
	margin-top: 30px;
	line-height: 30px;
	position: relative;
}

#kpr #simulation-select div{
	position: relative;
}

#kpr #simulation-select select{
	position: absolute;
}

#kpr #simulation-content .row{
	display: none;
}

#kpr input[type="submit"]{
	width: 100%;
	background: none;
	border: 1px solid #f15a22;
	color: #f15a22;
	margin-top: 40px;
	margin-bottom: 20px;
}

#kpr .separator{
	border-bottom: 1px solid #e8e7e5;
	width: auto;
	margin: 0 15px 10px 15px;
}

#news-section{
	padding: 30px 0;
	background: #e6e7e8;
}

#news-section select{
	background-color: #fff;
	width: 100%;
}

#news-section .separator{
	margin-top: 30px;
}

.news-item{
	background: #fff;
}

.news-item img{
	width: 100%;
}

.news-item .news-title{
	font-size: 16px;
	margin: 15px;
	color: #231f20;
}

.news-item .news-link{
	padding-right: 25px;
	display: inline-block;
	background: url('../img/arrow-next.png') right center no-repeat;
	cursor: pointer;
	margin-left: 15px;
	margin-bottom: 15px;
}

/* Footer */
#footer{
	padding: 50px 0;
	color: #6d6e71;
}

#address{
	margin-bottom: 40px;
	line-height: 28px;
}

#address strong{
	font-size: 14px;
}

#follow-us{
	margin-bottom: 40px;
}

#follow-us strong{
	display: block;
	color: #6d6e71;
	margin-bottom: 10px;
}

#follow-us a{
	display: inline-block;
	margin-right: 15px;
}

#footer .menu li{
	display: inline-block;
	border-left: 1px solid #6d6e71;
	margin-right: 5px;
	padding-left: 7px;
	line-height: 12px;
}

#footer .menu li:first-child{
	border-left: none;
	padding-left: 0px;
}

#footer .menu a{
	color: #6d6e71;
}

#footer .menu a:hover{
	color: #f15a22;
}

#footer .menu{
	margin-bottom: 10px;
}

#subsidiary{
	margin-top: 25px;
	margin-bottom: 115px;
}

#subsidiary div{
	margin-bottom: 12px;
	font-size: 10px;
}

#subsidiary a{
	display: inline-block;
	margin-left: 10px;
}

#gototop{
	position: fixed;
	display: none;
	bottom: 50px;
	width: 61px;
	height: 60px;
	background: url('../img/gototop.png') center center no-repeat;
	cursor: pointer;
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}